        <!-- 팀원2 -->
        <div class="row team-row">

            
            <!-- 사진 및 이름-->
            <div class="col-md-4 col-sm-4" style="padding-left:0px; float:right">
                <%= image_tag("eun.png", class:"black-border", :width => "100%") %>
                <p></br></p>
                <p class="team-big">
                    Agent E
                </p>
                <p class="team-small">
                     EunHo Cho / Designer
                </p>
            </div>    
            <!-- 사진 및 이름 끝-->
            
            <!-- 소개-->
            <div class="col-md-8 col-sm-8 ">
                        </br></br>
                        <p class="team-big text-center">
                            "Never settle down for the present."
                        </p>
					    
					    </br>
					    
					    <p class="team-small text-center">
					    
                          은호는 울산에서 태거나 유니스트로 진학하여 20년 이상을 울산에서 지내고 있습니다. 
                          생명공학이 전공이였던 그는 디자인과로 전과하고 군대도 갔다오다 보니,
                          복학후 아직까지 학교에 몇 안되는(정말정말) 유니크한 09학번 학부생 화석입니다. 
                          스스로 어려보인다며 위로는 하지만 넓어지는 이마를 막을 수가 없어 슬퍼하고 있습니다..
                        
                        </p>
                        
                        <p class="team-small"></br>
                        <b>좋아하는 것</b> : 머리 잘나는 음식(김, 미역 등) 먹기</br>
                        <b>싫어하는 것</b> : 없음</br>
                        <b>인생 음식</b> : 내가만든 열무국수
					    
					    </p>
            </div>
            <!-- 소개 끝 -->
            
            
            
        </div>
        <!--팀원2 끝-->
