
        <!-- 팀원5 -->
        <div class="row team-row">
            
            <!-- 사진 및 이름-->
            <div class="col-md-4 col-sm-4" style="padding-left:0px;">
                <%= image_tag("seung.png", class:"black-border", :width => "100%") %>
                <p></br></p>
                <p class="team-big">
                    Agent S
                </p>
                <p class="team-small">
                     SeungBin Kim / Resercher
                </p>
            </div>    
            <!-- 사진 및 이름 끝-->
            
            <!-- 소개-->
            <div class="col-md-8 col-sm-8">
                        </br></br>
                        <p class="team-big text-center">
                            ""폼나게 살자"
                        </p>
					    
					    </br>
					    
					    <p class="team-small text-center">
					    
                          승빈은 유니스트 전자전기 컴퓨터 공학부에 재학중인 15학번 학생입니다. 
1트랙은 전자전기공학으로, 2트랙을 컴퓨터 공학을 하고 있는 그는 “Hello World”는 쓸 수 있지만 컴파일된 파일은 만들지 못하는 등 무능함을 특기로 하고 있습니다. 팀내에서는 이런 장점을 살려 스터디룸 잡기가 주업으로 삶고 있으며 부업으로는 밀린 like lion강의를 수강하고 있습니다. 운동을 하는 것도 좋아하고 보는 것도 좋아하지만 항상 스알못으로 욕을 먹는 것이 일상입니다. 
                        
                        </p>
                        
                        <p class="team-small"></br>
                        <b>좋아하는 것</b> : 농구</br>
                        <b>싫어하는 것</b> : 코딩</br>
                        <b>인생 음식</b> : 어어어어어어 어머니의 된장국 ♬
					    
					    </p>
            </div>
            <!-- 소개 끝 -->
        </div>
        <!--팀원1 끝-->