        <!-- 팀원2 -->
        <div class="row team-row">

        <!-- 사진 및 이름-->
            <div class="col-md-4 col-sm-4" style="padding-left:0px; float:right">
                <%= image_tag("team/young.png", class:"black-border", :width => "100%") %>
                <p></br></p>
                <p class="team-big">
                    Agent Y
                </p>
                <p class="team-small">
                     YoungJoon Lee / Manager
                </p>
            </div>    
            <!-- 사진 및 이름 끝-->
            


            <!-- 소개-->
            <div class="col-md-8 col-sm-8">
                        </br></br>
                        <p class="team-big text-center">
                            "노력은 천재를 이길 수 있다."
                        </p>
					    
					    </br>
					    
					    <p class="team-small text-center">
					    
                          영준은 서울에서 20년 넘게 살아왔으나 현재는 울산의 한 시골에 있는 유니스트에서 
                          전자전기공학과 생명공학을 전공으로 허덕이며 살고 있습니다.
                          박태환만큼의 운동신경은 없지만 그의 열정만큼이나 수영을 무척 사랑합니다. 추후엔
                          아마추어 리그 1위를 하는 것이 목표입니다. 
                          항상 설레는 일을 하고 싶은 예비창업가인 그는 다양한 분야의 도전을 계속합니다.
                        
                        </p>
                        
                        <p class="team-small"></br>
                        <b>좋아하는 것</b> : 노력하면 바뀔 수 있는 것</br>
                        <b>싫어하는 것</b> : 운으로만 바뀔 수 있는 것</br>
                        <b>인생 음식</b> : 소고기
					    
					    </p>
            </div>
            <!-- 소개 끝 -->
            
            
        </div>
        <!--팀원2 끝-->
