
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            제휴문의
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title" style="padding-bottom:30px">
            <%= image_tag("contact/contact_main.png", :width => "100%") %>
        </div>
        
        <div>
            <form action="/write" method="POST">
              <p class="main-big">
                제휴/문의자 정보
              </p>
              <div class="form-group">
                <div class="col-md-2">
                    <label for="exampleInputEmail1"style="margin-top:10%">문의자명</label>
                </div>
                <div class="col-md-4">
                    <input name="title" type="text" style="width:100%" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="exampleInputEmail1"style="margin-top:10%">업체명</label>
                </div>
                <div class="col-md-4">
                    <input name="title" type="text"style="width:100%" class="form-control">
                </div>
              </div>
              <div class="form-group" style="margin-top:8%">
                <div class="col-md-2">
                    <label for="exampleInputEmail1" style="margin-top:10%">메일주소</label>
                </div>
                <div class="col-md-4">
                    <input name="title" type="text" style="width:100%" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="exampleInputEmail1"style="margin-top:10%">연락처</label>
                </div>
                <div class="col-md-4">
                    <input name="title" type="text"style="width:100%" class="form-control">
                </div>
              </div>
                <p class="main-big" style="margin-top:15%">
                내용작성
                </p>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="exampleInputEmail1"style="margin-top:10%">제목</label>
                    </div>
                    <div class="col-md-10">
                        <input name="title" type="text" style="width:100%" class="form-control">
                    </div>
                 </div>
                 <div class="form-group" style="margin-top:8%" >
                    <div class="col-md-2">
                        <label for="exampleInputEmail1">내용</label>
                    </div>
                    <div class="col-md-10">
                      <textarea name="content" class="form-control" rows="5" id="comment"></textarea>
                    </div>
                 </div>
 
              <button type="submit" class="btn btn-default" style="margin-top:2%; float:right">전송</button>
            </form>
    
        </div>
        
            
        </div>
        
    </div>
</div>









