
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            미션 및 비전
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title">
            <p class="main-title-big">
                인생사 다 똑같지,  
            </p>
            <p class="main-title-small">
                일단 저지르고 나서 
            </p>
            <p class="main-title-big">
                최선을 다하는 거지.</br></br>
            </p>
            <p class="sub-small">
                (젊은 케이, 맨인블랙3 中)
            </p></br>
     
        </div>
        
        <div>
            <p class="main-big">
                팀 철학
            </p>
            <p class="main-small">
                인생사 다 똑같지, 일단 저지르고 나서 최선을 다하는 거지. (젊은 케이, 맨인블랙3 中)
            </p>
            <p class="main-big">
                팀 가치 
            </p>
            <table width="780" border="0" cellpadding="0" cellpadding="0">
                <tbody>
                        <tr>
                            <td width="220" class="value-name">
                              호기심<hr>
                            </td>
                            <td width="20"></td> 
                            <td width="220"class="value-name">
                              즐거움<hr>
                            </td>
                            <td width="20"></td>
                            <td width="220"class="value-name">
                              근검절약<hr>
                            </td>
                        </tr>
                        <tr colspan="6" height="10"></tr>
                        <tr>
                            <td width="220" valign="top" class="value-content">
                                호기심은 창의력의 연료입니다. MIB 요원들은 세상일에 호기심이 많고, 관찰하기를 좋아하며, 이를 통해 창의적
                                이고 다양한 접근으로 기존의 문제들을 새로운 시각에서 바라볼 것입니다.</br></br>
                                <p class="word">“삶에 대한 온갖 호기심이 위대한 창조주들의 비밀이라고 생각한다” – Leo Burnnett</p>
                            </td>
                            <td width="20"></td>
                            <td width="220" valign="top" class="value-content">
                                즐거움은 문제해결의 원동력입니다. MIB 요원들은 억지로 일하는 환경을 지양합니다. 일 자체를 즐기는 정신은 MIB 요원들의 긍지이자 자부심이고 덕력(?)의 원천입니다. </br></br>
                                <p class="word">좋아하는 일을 해라” – Steve Jobs</p>“
                            </td>
                            <td width="20"></td>
                            <td width="220" valign="top" class="value-content">
                                의미 없는 비용을 예방하고, 수익을 내는 가장 쉬운 방법은 절약입니다. 사업수익이 낮다면 비용을 더 낮춰서라도 이익을 창출하고, 작은 성공에 대한 사치를 경계하는 것이 우리의 정신입니다. </br>
                                <p class="word">“두툼한 지갑은 마음을 가볍게 만든다” – Ben Johnson</p>“
                            </td>
                        </tr>
                </tbody>
            </table>
            <p></p>
            <p class="main-big">
                팀 개요
            </p>
            <p class="main-small">
                우리는 먹인블랙이다
            </p>
            <p class="main-big">
                우와!한 사람들
            </p>
            <p class="main-small">
                안녕하세요 우아한 사람들 동해물과 백두산이 블라블라 나다아이니ㅏ안녕
            </p>
        </div>
        
            
        </div>
        
    </div>
</div>