
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            미션 및 비전
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title">
            <%= image_tag("mission/mission-main.png", :width => "100%") %>
        </div>
        
        <div>
            
            <p class="main-big">
                팀 개요
            </p>
            <p class="main-small">
               우리는 일상생활에서 사소한 문제들과 꽤 자주 마주하게 됩니다. 그러나 시간 부족, 공간 부족, 재고 부족과 같은 작은 문제들조차, 그것을 개선하기 위해 직접 행동하기란 쉬운일이 아닙니다. 감수하기 어려울만큼 큰 불편함은 아니기 때문이죠. 하지만 "멀티탭", "신호등", "스테이플러","포스트 잇" 등 사소한 불편함이 해결됬을 때, 우리는 놀랍도록 개선된 편리함을 이미 경험한 적이 있습니다. 재미있는 아이디어로 일상생활의 사소한 불편함을 해결해 드리는것이 저희 MIB의 목표입니다.
            </p>
            
            
            <p class="main-big">
                팀 가치 
            </p>
                <div class="row" style="padding:0px">
                    <div class="col-md-4 col-sm-4">
                        <div class="main-pic">
                            <%= image_tag("mission/mission_value1.png", :width => "100%") %>
                        </div>
                        <p class="main-small">
                        호기심은 창의력의 연료입니다. MIB 요원들은 세상일에 호기심이 많고, 관찰하기를 좋아하며, 이를 통해 창의적
                                    이고 다양한 접근으로 기존의 문제들을 새로운 시각에서 바라볼 것입니다.
                        </p>
                    </div>
                    
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="main-pic">
                            <%= image_tag("mission/mission_value2.png", :width => "100%") %>
                        </div>
                        <p class="main-small">
                        즐거움은 문제해결의 원동력입니다. MIB 요원들은 억지로 일하는 환경을 지양합니다. 일 자체를 즐기는 정신은 MIB 요원들의 긍지이자 자부심이고 덕력(?)의 원천입니다.
                        </p>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="main-pic">
                            <%= image_tag("mission/mission_value3.png", :width => "100%") %>
                        </div>
                        <p class="main-small">
                        의미 없는 비용을 예방하고, 수익을 내는 가장 쉬운 방법은 절약입니다. 사업수익이 낮다면 비용을 더 낮춰서라도 이익을 창출하고, 작은 성공에 대한 사치를 경계하는 것이 우리의 정신입니다.
                        </p>
                    </div>
                </div>
            
                
            </div>
            
            

            
        </div>
        
    </div>
</div>