
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            서비스
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title">
            <p class="main-title-big">
                우와! 한 사람들이
            </p>
            <p class="main-title-small">
                만들어가는
            </p>
            <p class="main-title-big">
                우와~한 세상</br></br>
            </p>
        </div>
        
        <div>
            <p class="main-big">
                우와!한 사람들
            </p>
            <p class="main-small">
                안녕하세요 우아한 사람들 동해물과 백두산이 블라블라 나다아이니ㅏ안녕
            </p>
            <p class="main-big">
                우와!한 사람들
            </p>
            <p class="main-small">
                안녕하세요 우아한 사람들 동해물과 백두산이 블라블라 나다아이니ㅏ안녕
            </p>
            <p class="main-big">
                우와!한 사람들
            </p>
            <p class="main-small">
                안녕하세요 우아한 사람들 동해물과 백두산이 블라블라 나다아이니ㅏ안녕
            </p>
            <p class="main-big">
                우와!한 사람들
            </p>
            <p class="main-small">
                안녕하세요 우아한 사람들 동해물과 백두산이 블라블라 나다아이니ㅏ안녕
            </p>
        </div>
        
            
        </div>
        
    </div>
</div>