
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            서비스
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title">
            <p class="main-title-big">
                블랙블랙한
            </p>
            <p class="main-title-small">
                문구를지어서
            </p>
            <p class="main-title-big">
                여기에 넣을 것이다 수정중</br></br>
            </p>
        </div>
        
        <div>
            <p class="main-big">
                문구넣기
            </p>
            <p class="main-small">
                안녕하세요 우리는 블랙팀 블라블라ㅏ 가나다라 마바 사 여기는 문구항목 기숙사 십구층에서 쓴느 코드라인
            </p>
            <p class="main-big">
                문구넣기
            </p>
            <p class="main-small">
                안녕하세요 우리는 블랙팀 블라블라ㅏ 가나다라 마바 사 여기는 문구항목 기숙사 십구층에서 쓴느 코드라인
            </p>
            <p class="main-big">
                블랙블랙
            </p>
            <p class="main-small">
                안녕하세요 우리는 블랙팀 블라블라ㅏ 가나다라 마바 사 여기는 문구항목 기숙사 십구층에서 쓴느 코드라인
            </p>
            <p class="main-big">
                문구넣기
            </p>
            <p class="main-small">
                안녕하세요 우리는 블랙팀 블라블라ㅏ 가나다라 마바 사 여기는 문구항목 기숙사 십구층에서 쓴느 코드라인
            </p>
            <p class="main-big">
                문구3
            </p>
            <p class="main-small">
                다음 문구를 또 추가하고싶으면 p class="main-big" 이부분을 제목으로, p class="main-small" 이부분을 내용으로  덩어리채 복사 붙여넣기 하면 됩니다.
            </p>
            
        </div>
        
            
        </div>
        
    </div>
</div>