<footer class="footer">
    <div class="container" style="padding-left:90px; padding-right:90px">
        <nav style="float:left">
            <ul style="padding-left:0px">
              <li><%= link_to "블랙의 미션", 'mission' %></li>
              <li><%= link_to "서비스 상세", 'service' %></li>
              <li><%= link_to "파트너쉽", 'contact' %></li>
            </ul>
          </nav>
    </div>
</footer>